body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/BackgroundVT.jpg') no-repeat ;
    background-size: cover;
    background-position: center;    
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: all 0.5s ease;
}



.stickyy {
    padding: 20px 73px;
    background: #161616;
}



.nav-content {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    
}


.nav-content ul {
    display: flex;
    align-items: center;
}

.nav-content ul li {
    list-style: none;
    margin: 0 10px;
}

.nav-content ul li a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav-content ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-content ul li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.nav-content .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.nav-content .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}